# ejmastnak/dotfiles

snippet tp "TikZ picture environment" bA
\begin{tikzpicture}
	$1
\end{tikzpicture}
$0
endsnippet

snippet dx "\pgfmathsetmacro for tikz pictures" bA
\pgfmathsetmacro{\dx}{${1:1}}$0
endsnippet

snippet nn "Tikz node" w
\node[$5] (${1/[^0-9a-zA-Z]//g}${2}) ${3:at (${4:0,0}) }{$${1}$};
$0
endsnippet

